<!DOCTYPE html>
<htm lang="en">
    <head>
        <title>Terminal Lane Jumper</title>
    </head>
    <body>
        <h1>ASCII Lane Jumper</h1>
        <form method="GET" action="/game">
            <button type="submit">Start</button>
        </form>
        <form method="GET" action="/leaderboard">
            <button type="submit">Leaderboard</button>
        </form>
        <form method="GET" action="/about">
            <button type="submit">Info</button>
        </form>
    </body>
</html>